# Do not push any data
/data*
/enhanced_data
/VF_responses
*.zip


#Also the .venv
.venv

#Trash
Trash/

# figures 
/figures
/models
/output
/curvefit
/inter_rater*

#Unused data
*curve_fitting_test.ipynb